<%= image_tag ("/assets/recipes.png"), class: "img-responsive", size: "200x200" %>
<h1><u>Recipes List</u></h1>
<% @recipes.each do |recipe| %>
<h2><%= link_to recipe.name, recipe_path(recipe) %></h2>
<% end %>