<h1>Recipe Details</h1>

<h2><%= @recipe.name %></h2>
<p>Description: <br><%= @recipe.description %></p> <br><br><br>

<h2>Ingredients</h2>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<li><%= recipe_ingredient.ingredient.name %></li>
<% end %>