<h1><u>Recipe Details</u></h1>
<h2><%= @recipe.name %></h2>
<h3>Description </h3>
<p><%= @recipe.description %></p> 

<h2>Ingredients</h2>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<p><%= recipe_ingredient.ingredient.name %></p>
<% end %>


<%= button_to "Delete", recipe_path(@recipe), method: :delete %>


